.openButton {
    width: 32px;
    height: 32px;
    background-image: url('../../assets/Open.png');
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
}

.closeButton {
    width: 32px;
    height: 32px;
    background-image: url('../../assets/Close.png');
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px; 
}