.loader {
    box-sizing: border-box;
    width: 744px;
    height: 300px;
    display: flex;
    background-image: url('../../assets/loader.gif');
    background-repeat: no-repeat;
    background-position: 40% 45%;
}