.favorite {
    &ButtonEmpty,
    &ButtonActive {
        margin: 8px;
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        cursor: pointer;
    }

    &ButtonEmpty {
        background-image: url('../../assets/star_empty.png');
    }

    &ButtonActive {
        background-image: url('../../assets/star_active.png');
    }
}
