.error {
    box-sizing: border-box;
    width: 744px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:  32px;
}

.errorImg {
    width: 340px;
    height: 198px;
    background-image: url('../../assets/error.png');
    background-repeat: no-repeat;
    background-position: 80% 40%;
}

.errorNotify {
    font-family: 'Roboto Medium', sans-serif;
}

.errorMessage {
    font-family: 'Roboto Regular', sans-serif;
}

.errorRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.errorText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}