.empty {
    &Container {
        width: 744px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    &Img {
        width: 264px;
        height: 198px;
        background-image: url('../../assets/empty.png');
        background-repeat: no-repeat;
    }

    &Text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
    }

    &Notify {
        font-family: 'Roboto Medium', sans-serif;
        font-size: 22px;
    }
    
    &Message {
        font-family: 'Roboto Regular', sans-serif;
        font-size: 18px; 
    }
}
