.emptyContainer {
    width: 744px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.emptyImg {
    width: 264px;
    height: 198px;
    background-image: url('../../assets/empty.png');
    background-repeat: no-repeat;
}

.emptyText {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.emptyNotify {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 22px;
}

.emptyMessage {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 18px;
}