.container {
    width: 690px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    padding: 0 56px;
}

.albumImg {
    position: relative;
    cursor: pointer;
}
